* a {
  text-decoration: none;
  color: black;
}
nav{
    margin: 5px;
    background-color: aliceblue;
    height: 38px;
    width: auto;
    border-radius: 30px;
}
nav .logo{
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 20px;
}
.navbar-nav {
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 400px;
  justify-self: center;
  top: 8px;
}
.navbar-nav a {
  position: relative;
  justify-items: center;
}
nav p{
    position: absolute;
    justify-self: right;
    margin:0 10px auto auto;
    top: 12px;
    font-size: 20px;
    right: 25px;
}
