.container{
    top: 7em;
    margin: auto 0px auto 0px;
    width: 100%;
    position: relative;
    justify-content: center;
}
.container1{
    display: flex;
    justify-content: space-around;
    text-align: center;
    max-width: 200px;
    margin: 5px;
    padding: 3px;
}
.container1 .baris1{
    position: relative;
    padding: 17px;
    text-align: center;
}

.container2{
    display: flex;
    justify-content: space-around;
    text-align: center;
    max-width: 200px;
    margin: 5px;
    padding: 3px;
}
.container2 .baris2{
    position: relative;
    padding: 17px;
    text-align: center;
}
.container3{
    display: flex;
    justify-content: space-around;
    text-align: center;
    max-width: 200px;
    margin: 5px;
    padding: 3px;
}
.container3 .baris3{
    position: relative;
    padding: 17px;
    text-align: center;
}
.container4{
    display: flex;
    justify-content: space-around;
    text-align: center;
    max-width: 200px;
    margin: 5px;
    padding: 3px;

}
.container4 .baris4{
    position: relative;
    padding: 20px;
    text-align: center;
}
